*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

.services{
    width:1300px;
    margin:50px auto;
}

.services h2{
    text-align:center;
    color:#113695;
    font-size:40px;
    margin-bottom:50px;
}

.service-box{
    width:33%;
    display:inline-block;
    margin-bottom:50px;
}

.icon{
    width:60px;
    height:60px;
    border-radius:40%;
    background:#b9d7dd;
    box-shadow:0 7px 17px rgba(9, 9, 9, 0.15);
    text-align:center;
    line-height:60px;
    display:inline-block;
    transition:.3s;
}

.icon i{
    font-size:25px;
    color:#000;
    transition:.4s;
}

.content{
    width:70%;
    display:inline-block;
    vertical-align:top;
    margin-left:15px;
}

.content h3{
    margin-bottom:10px;
    font-size:24px;
    transition:.4s;
}

.content p{
    color:#666;
    line-height:1.8;
}



.service-box:hover .icon{
    background:#ef4444;
}

.service-box:hover .icon i{
    color:#020f74;
}

.service-box:hover h3{
    color:#ef4444;
}